@charset "UTF-8";


#menu1 {
	font-size: 90%;
	list-style-image: url(/Mytthos/inc/doct.gif);
	border: 1px solid #006699;
	width: 200px;
	padding-top: .5em;
	padding-bottom: .5em;
	list-style: inside;
}

html body #menu1 {
	list-style: outside;
}

.cAbierta {
	list-style-type: none;
	list-style-image: url(/Mytthos/inc/carpabiertat.gif);
}

.cAbiertaSeleccionada {
	list-style-type: none;
	list-style-image: url(/Mytthos/inc/carpabiertasel.gif);
}

.cCerradaSeleccionada {
	list-style-type: none;
	list-style-image: url(/Mytthos/inc/carpcerradasel.gif);
}

.cCerrada {
	list-style-type: none;
	list-style-image: url(/Mytthos/inc/carpcerradat.gif);
}

.menuDoc {
	list-style-type: none;
	list-style-image: url(/Mytthos/inc/doct.gif);
}

.tagApartado, a.tagApartado {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.documentoActual {
	list-style-image: url(/Mytthos/inc/docsel.gif);
}

#menu1 a {
	color: #006699;
}

.documentoActual a {
	color: #993300;
}